.footer {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 10xp 40px;
    color: var(--white);
    font-size: 16px;
    line-height: 16px;
    line-height: 20px;

    background-color: var(--primary);
    padding: 25px 30px;
}

.footer a:hover {
    color: var(--grey-light);
}

.footer__link {
    display: block;
    margin-right: 40px;
}

.footer__link:last-child {
    margin-right: 0;
}

@media (max-width: 765px) {
    .footer {
        grid-template-columns: 2fr;
    }
}